body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo do corpo da página */
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave na tabela */
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    white-space: nowrap; /* Impede que o texto seja quebrado para a próxima linha */
    text-align: center; 
}


table th {
    background-color: #f8f8f8; /* Cor de fundo do cabeçalho da tabela */
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo das linhas pares da tabela */
}

a {
    color: #007bff; /* Cor dos links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Efeito de sublinhado nos links ao passar o mouse */
}