<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <title>Contadores de Impressora</title>
</head>
<body>
    <center><h1>Contadores de Impressora</h1></center>
    <table border="1">
        <thead>
            <tr>
                <th>Impressora</th>
                <th>Tipo</th>
                <th>{{ mes_anterior }}</th>                
                <th>{{ mes_atual }}</th>
                <th>Total</th>
                <th>Preço por Pagina</th>
                <th>Valor</th>
                <th>Mensalidade</th>

            </tr>
        </thead>
        <tbody>
            {% for row in dados %}                       
            <tr>
                
                <td><a href="{{ row[0] }}">{{ row[1] }}</a></td>                 
                <td>{{ row[2] }}</td>
                <td>{{ row[5] }}</td>
                <td>Teste2</td>
                <td>Teste3</td>
                <td>R$ {{row[3]}}</td>
                <td>Teste5</td>
                <td>R$ {{row[4]}}</td>                          
            </tr>                
                {% endfor %}                  
        </tbody>
    </table>
</body>
</html>